{% extends 'base.html' %}
{% block conteudo %}

<h2>
    <p class="tituloDestaque">Ação</p>
</h2>
<hr>
<div class="row">
    {% for acao in acoes %}
        <div class="col-md-3">
           <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{acao.backdrop_path}}" alt="No image">
            <div class="card-body">
               <h5 class="card-title">{{acao.title}}</h5>
               <p class="card-text">{{acao.overview}}</p>
               <hr>
               <h4>Nota Média <span class="badge bg-primary">{{acao.vote_average}}</span></h4>
            </div>
           </div>
        </div>
    {% endfor %}
</div>

{% endblock %}